@model IEnumerable<WebTravel.Models.TbTour>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="pagetitle">
    <h1>Quản lý Tour du lịch</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Admin</a></li>
            <li class="breadcrumb-item">Tours</li>
            <li class="breadcrumb-item active">Index</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="Create">Thêm mới</a></h5>

                    <!-- Default Table -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Tên Tour</th>
                                <th scope="col">Danh mục</th>
                                <th scope="col">Ảnh</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Số sao</th>
                                <th scope="col">Thời gian(ngày)</th>
                                <th scope="col">Hiện thị</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@(i++)</th>
                                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CategoryTour.Title)</td>
                                    <td><img src="~/img/@Html.DisplayFor(modelItem => item.Image)" width="50" , height="50" /></td>
                                    <td>@Html.DisplayFor(modelItem => item.Price)$</td>
                                  
                                    <td>@Html.DisplayFor(modelItem => item.Star)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TimeTravel)</td>
                                    
                                    <td>
                                        @if (item.IsActive)
                                        {
                                            <i class="fas fa-check text-success"></i> <!-- Dấu tích màu xanh -->
                                        }
                                        else
                                        {
                                            <i class="fas fa-times text-danger"></i> <!-- Dấu x màu đỏ -->
                                        }
                                    </td>

                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.TourId" class="btn btn-outline-warning">Sửa</a> -
                                        <a asp-action="Details" asp-route-id="@item.TourId" class="btn btn-outline-primary">Chi tiết</a> -
                                        <a asp-action="Delete" asp-route-id="@item.TourId" class="btn btn-outline-danger">Xóa</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- End Default Table Example -->
                </div>
            </div>





        </div>
    </div>


</section>

