@model IEnumerable<WebTravel.Models.TbMenu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



    <div class="pagetitle">
        <h1>Quản lý menu</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Admin</a></li>
                <li class="breadcrumb-item">Menus</li>
                <li class="breadcrumb-item active">Index</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><a asp-action="Create">Thêm mới</a></h5>

                        <!-- Default Table -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Tiêu đề</th>
                                    <th scope="col">Alias</th>
                                    <th scope="col">Cấp</th>
                                    <th scope="col">Vị trí</th>
                                    <th scope="col">Hiện thị</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                }
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <th scope="row">@(i++)</th>
                                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Alias)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Levels)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Position)</td>
                                        <td>
                                            @if (item.IsActive)
                                            {
                                                <i class="fas fa-check text-success"></i> <!-- Dấu tích màu xanh -->
                                            }
                                            else
                                            {
                                                <i class="fas fa-times text-danger"></i> <!-- Dấu x màu đỏ -->
                                            }
                                        </td>
                                     
                                    <td>
                                            <a asp-action="Edit" asp-route-id="@item.MenuId" class="btn btn-outline-warning">Sửa</a> -
                                        <a asp-action="Details" asp-route-id="@item.MenuId" class="btn btn-outline-primary">Chi tiết</a> -
                                            <a asp-action="Delete" asp-route-id="@item.MenuId" class="btn btn-outline-danger">Xóa</a>
                                    </td>     
                                </tr>
                                }
                            </tbody>
                        </table>
                        <!-- End Default Table Example -->
                    </div>
                </div>

                

                        

                    </div>
                </div>


    </section>

